@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Marker+Hatch&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #b5c3b1;
    box-sizing: border-box;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 20px;
   
}

/*placement des contenus: accueil, lég, fruits, cueillettes + titre*/

header nav .titre {
    color: #32083d;
    font-family: 'Rubik Marker Hatch', cursive;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*Titre=Food4Seasons*/

header nav ul {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
}

/*Affichage placement des contenus: accueil, lég fruits, cueillettes*/

header nav ul li {
    background: #edc58a;
    list-style: none;
    display: inline-block;
    padding: auto;
    justify-content: flex-start;
    flex-direction: row-reverse;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

/*Entourage des contenus: accueil, lég...*/

header nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #32083d;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*Mots accueil, légumes...*/

nav a:hover {
    color: #cc2200;
}

/*Effet : trait sous le mot quand souris va desssus*/
.legume img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    justify-content: space-between;
    margin: 0,5%;
    display: block;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
    margin-right: 10px;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
     size: 20px;
     text-align: center;
}

.saisonnalite {
   display: flex;
   flex-direction: row;
   width: 200px;
   text-align: center;
   margin-block-start: 10%;
   font-family: Arial, Helvetica, sans-serif;
   margin-inline-end: 0px;
   margin-block-start: 0px;
   position: relative;
   font-size: 65%;
   padding-left: 0px;
   padding-right: 0px;
   color: rgba(0, 0, 0) ;

}

.fruit img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    justify-content: space-between;
    margin: 0,5%;
    display: block;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
    margin-right: 10px;
     
}



#fruits-et-legumes {
    display: flex;
    flex-direction: rox;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
    margin-bottom: 30px;
 

}

#search {
    border-radius: 30px;
    border: 2px solid black;
}



#button{
    background-color: tomato;
    border: 0px solid black;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

/*-----Défilement photos-------*/

.slider {
    width: 800px;
    margin: 30px auto;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

.slider-viewport {
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slider-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    /* position: relative;
    float: left;
    animation: slide 15s infinite; */
}

.slider-content img {
    width: 800px;
    height: 400px;
    /* width: 10%;
    height: 450px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; */
}

.slider-nav {
    position: absolute;
    /* position: relative; */
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

.slider-nav a {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #adafbc;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 15px;
}

.slider-nav a:hover {
    background-color: #ffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
}

#img3:target .slider-content {
    -webkit-transform: translateX(-1600px);
    transform: translateX(-1600px);
}


/*-----Sections------*/

.btn {
    margin-right: 20px;
    padding: 0;
    justify-content: flex-end;
    flex-direction: row;
}
