@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Marker+Hatch&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #b5c3b1;
    box-sizing: border-box;
}

/*--------Header*---------/

/*header {
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}*/
/*Fond ou bande de la barre de navigation*/

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    /*position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 20px 40px;
    box-shadow: 0 15px 15px rgba(0,0,0,0,0.4);*/
}

/*placement des contenus: accueil, lég, fruits, cueillettes + titre*/

header nav .titre {
    color: #32083d;
    font-family: 'Rubik Marker Hatch', cursive;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*Titre=Food4Seasons*/

header nav ul {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
}

/*Affichage placement des contenus: accueil, lég fruits, cueillettes*/

header nav ul li {
    background: #edc58a;
    list-style: none;
    display: inline-block;
    padding: auto;
    justify-content: flex-start;
    flex-direction: row-reverse;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

/*Entourage des contenus: accueil, lég...*/

header nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #32083d;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*Mots accueil, légumes...*/

nav a:hover {
    color: #cc2200;
}

/*Effet de changement de couleur quand la souris passe sur les mots*/

/*header nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #cc2200;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
header nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}*/
/*Effet : trait sous le mot quand souris va desssus*/

#search {
    border-radius: 30px;
    border: 2px solid black;
}

#button {
    background-color: tomato;
    border: 0px solid black;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

/*-----Défilement photos-------*/

/* .caroussel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto;
    border: 2px solid black;
    box-shadow: 0 15px 15px rgba(0,0,0,0.4);
    
}
.caroussel-item {
   /* position: absolute;*/
/* position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px; */
/* position: absolute; */
/* position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    /*position: absolute;*/
/* position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('photos_slide/enfant_brouette.jpg');
    background-size: cover;
    width: 50% ;
    height: 40px 80px;
}
.item-2 {
    background: ('photos_slide/recolte.jpg');
    background-size: cover;
}
.item-3 {
    background: ('photos_slide/bread.jpg');
    background-size: cover;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
} */
/* #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
}  */
/* GOOD */
.slider {
    width: 800px;
    margin: 30px auto;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

.slider-viewport {
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slider-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    /* position: relative;
    float: left;
    animation: slide 15s infinite; */
}

.slider-content img {
    width: 800px;
    height: 400px;
    /* width: 10%;
    height: 450px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; */
}

.slider-nav {
    position: absolute;
    /* position: relative; */
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

.slider-nav a {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #adafbc;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 15px;
}

.slider-nav a:hover {
    background-color: #ffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
}

#img3:target .slider-content {
    -webkit-transform: translateX(-1600px);
    transform: translateX(-1600px);
}

/*----GOOD*/




/*.sectionOne {
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self:center;
    align-items: center;
    background: #b5c3b1;
}

.section {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: auto;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 100%;
    transition: 2s;
}

.st img {
    width: 100%;
    height: auto;
}

.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
}

.m-btn {
    border: 2px solid #32083d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;    
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color:#32083d;
}

#radio1:checked .first {
    margin-left: 0;
}

#radio2:checked .first {
    margin-left: -20%;
}

#radio3:checked .first {
    margin-left: -40%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display:flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #32083d;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}




/*.slider {
    font-size: 0;
    width: 80%;
    margin: 3rem auto 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 15px 15px rgba(0,0,0,0.4);
}

.slides {
    width: 1000%;
    position: relative;
    float: left;
    animation: slide 15s infinite;
}

.slide {
    width: 10%;
    height: 450px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

@keyframes slider {
    0%{
        left: 0%
    }
    10%{
        left: -100%;
    }
    20%{
        left:-200%
    }
    30%{
        left: -300%;
    }
    40%{
        left: -400%
    }
    50%{
        left: -500%;
    }
    60%{
        left: -600%
    }
    70%{
        left: -700%;
    }
    80%{
        left: -800%
    }
    90%{
        left: -900%;
    }
    100%{
        left: -1000%;
    }
}*/

/*-----Sections------*/

h3 {
    margin-left: 80px;
    color: #32083d;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.btn {
    margin-right: 20px;
    padding: 0;
    justify-content: flex-end;
    flex-direction: row;
}